# Lab 4: Operation on Tuples and List

### Q1. Write a Python program to create a tuple

In [2]:
tup1=("a","b","c")

### Q2 Write a Python program to create a tuple with different data types.

In [16]:
tup=(1,2,"a",False)
tup

(1, 2, 'a', False)

### Q3:Write a Python program to create a tuple with numbers and print one item.

In [7]:
tup2=(10,20,30)
print(tup2[1])

20

### Q4:Write a Python program to unpack a tuple in several variables.

In [9]:
var1=tup2[0]
var2=tup2[1]
var3=tup2[2]
print(var1,"",var2,"",var3)

10  20  30

### Q5: Write a Python program to add an item in a tuple.

In [17]:
list1=list(tup2)
list1.append(40)
tup5=tuple(list1)
print (tup5)

(10, 20, 30, 40)

### Q6:Write a Python program to convert a tuple to a string.

In [19]:
tup1=("h","e","l","l","o"," ","w","o","r","l","d")
str=''.join(tup1)
str

'hello world'

### Q7:Write a Python program to get the 4th element and 4th element from last of a tuple

In [15]:
tup1=(1,2,3,4,5,6,7,8,9,10)
print(tup1[3])
print(tup1[-4])

4
7

### Q8. Write a Python program to find the repeated items of a tuple.

In [21]:
tup1=(1,1,3,4,5,1,7,8,9,10)
count=tup1.count(1)
print(count)

3

### Q9. Write a Python program to check whether an element exists within a tuple.

In [23]:
if 4 in tup1:
    print("true")
else :
    print("false")

true

### Q10. Write a Python program to convert a list to a tuple.

In [25]:
list1=[1,2,3,4]
tuple1=tuple(list1)
print(tuple1)

(1, 2, 3, 4)

### Q11. Write a Python program to remove an item from a tuple

In [27]:
tuple1=(1,2,3,4)
list1=list(tuple1)
list1.remove(4)
tup1=tuple(list1)
print(tup1)

(1, 2, 3)

### Q12. Write a Python program to slice a tuple

In [29]:
tuple1=(1,2,3,4)
new_tup=tuple1[0:2]+tuple1[3:]
print(new_tup)

(1, 2, 4)

### Q13. Write a Python program to find the index of an item of a tuple.

In [32]:
tup1=(1,2,3,4,5,6)
print(tup1.index(4))

3

### Q14. Write a Python program to find the length of a tuple.

In [34]:
tup1=(1,2,3,4,5,6)
print(len(tup1))

6

### Q15. Write a Python program to reverse a tuple.

In [36]:
tup1=(1,2,3,4,5,6)
tup2=reversed(tup1)
print(tuple(tup2))

(6, 5, 4, 3, 2, 1)