# Lab 6: Understanding sets in Python

### Q1. Write a program to create a set

In [1]:
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

### Q2. Write a program to add an element to set

In [2]:
set1.add(1)
set1

{1, 'a', 'b', 'c'}

### Q3.	Write a program to add multiple items using update function

In [3]:
set1.update([100,'a','$',"apple"])
set1

{'$', 1, 100, 'a', 'apple', 'b', 'c'}

### Q4.	Write a program to find length of a set

In [4]:
x=len(set1)
x

7

### Q5.	Write a program to remove value from a set

In [5]:
set1.remove(100)
set1

{'$', 1, 'a', 'apple', 'b', 'c'}

### Q6.	Write a program to pop an element from a set

In [7]:
p=set1.pop()
p

1

### Q7.	Write a program to update a set

In [8]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

### Q8.	Write a Python program to create an intersection of sets.

In [10]:
x = {"orange", "banana", "cherry"}
y = {"red", "yellow", "orange"}

z = x.intersection(y)
print(z)

{'orange'}

### Q9.	Write a Python program to create a union of sets.

In [11]:
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

### Q10.	Write a Python program to clear a set.

In [12]:
set1.clear()
set1

set()

### Q11.	Write a Python program to issubset.

In [13]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)
print(z)

True

### Q11.	Write a Python program to issuperset.

In [14]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)
print(z)

True

### Q12.	Write a Python program to create set difference.

In [16]:
x = {"orange", "banana", "cherry"}
y = {"red", "yellow", "orange"}

z = x.difference(y)
print(z)

{'cherry', 'banana'}

### Q13.	Write a Python program to create a symmetric difference.

In [17]:
x = {"orange", "banana", "cherry"}
y = {"red", "yellow", "orange"}

z = x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'red', 'yellow'}