### Lab - 05

Q1. Write a Python program to sum all the items in a list.

In [2]:
l=[12,34,54,23,43]
s=0
for i in l:
    s=s+i
print("Sum of the elements of the list is : ",s)

Sum of the elements of the list is :  166

Q2. Write a Python program to multiplies all the items in a list.

In [6]:
a=[2,3,4,5,2,1]
m=1
for i in a:
   m=m*i 
print(m)

240

Q3. Write a Python program to get the largest number from a list.

In [14]:
l=[12,13,43,452,12,33]
a=l[0]
for i in l:
    if i>a:
        a=i
print("Largest number is : ",a)

Largest number is :  452

Q4. Write a Python program to get the smallest number from a list.

In [10]:
l=[15,13,43,452,12,33]
a=l[0]
for i in l:
    if i<a:
        a=i
print("Smallest number is : ",a)

Smallest number is :  12

Q5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings 
Sample List : ['abc', 'xyz', 'aba', '1221']. Expected Result : 2

In [17]:
l=['abc', 'xyz', 'aba', '1221']
count=0
for i in l:
    if len(i)>=2:
       if i[0]==i[len(i)-1]:
        count=count+1
    else:
        pass
print("Such strings are : ",count)

Such strings are :  2

Q6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.  
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [61]:
t=(123,342,124,54)
l=list(t)
(l.sort(reverse=True))
print(l)

[342, 124, 123, 54]

Q7. Write a Python program to remove duplicates from a list.

In [18]:
l=[12,23,234,54,23,12,23,12,453,453]
n=[]
for i in l:
    if i not in n:
        n.append(i)
print("List with original items is : ",n)

List with original items is :  [12, 23, 234, 54, 453]

Q8. Write a Python program to check a list is empty or not.

In [20]:
l=[]
if len(l)==0:
    print("List is empty.")
else:
    print("List is not empty")

List is empty.

Q9. Write a Python program to clone or copy a list.

In [23]:
l=[12,34,45,32,23]
c=l[:]
print("Clone of the given list is : ",c)

Clone of the given list is :  [12, 34, 45, 32, 23]

Q10. Write a Python program to find the list of words that are longer than n from a given list of words.

In [25]:
n=int(input("Enter a number:"))
l=["qwerre",'fdsafb','qewfhuh','bhwj','iu']
c=[]
for i in l:
    if len(i)>n:
        c.append(i)
print("New list is : ",c)

Enter a number:2
New list is :  ['qwerre', 'fdsafb', 'qewfhuh', 'bhwj']

Q11. Write a Python function that takes two lists and returns True if they have at least one common member.

In [24]:
def ls(l1,l2):
    r=False
    for i in l1:
        for j in l2:
            if i==j:
                r=True
                return r
    return r
l1=[15,32,245,54,23]
l2=[234,4,12,12,72]
print(ls(l1,l2))

False

Q12. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.  
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [9]:
l=['Red','Green','White','Black','Pink','Yellow']
l.pop(5)
l.pop(4)
l.pop(0)
print("List after removing elements is : ",l)

List after removing elements is :  ['Green', 'White', 'Black']